.main {
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    background-image: url("../../assets/black-brick.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.main__img {
    position: absolute;
    width: auto;
    margin-left: 20px;
    right: 20px;
    margin-right: auto;
    filter: opacity(25%);
    z-index: 5;
}

.pink-deco {
    position: absolute;
    background-color: var(--pink);
    bottom: 0px;
    right: 0px;
    width: 200px;
    height: 200px;
    filter: blur(300px);
    box-shadow: 0px 0px 600px var(--pink);

    z-index: 1;
}

.aqua-deco {
    position: absolute;
    background-color: var(--aqua);
    top: 0px;
    width: 200px;
    height: 200px;
    filter: blur(300px);
    box-shadow: 0px 0px 600px var(--aqua);


}


.main__desc {
    color: var(--grey);
    padding-left: 30px;
    text-wrap: wrap;
    max-width: 500px;
    z-index: 6;
}

.main__connect {
    color: var(--pink) !important;
    margin: 30px;
    width: max-content;
    text-shadow: 0px 0px 20px var(--pink);
    display: flex !important;
    flex-direction: row;
    z-index: 6;
}

.main__connect::before {
    background-color: var(--pink) !important;
}

.mask {
    width: auto;
    height: 100vh;
    margin: 0px 50px;
    background-image: url("../../assets/name-back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    mask-image: url("../../assets/name.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.wild {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark);
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("../../assets/wild-life/back.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
}

.wild-life.swiper {
    width: 300px;
    height: 300px;
    margin-top: 100px;
    z-index: 2;
    flex-grow: 1;
}


.wild-life .swiper-slide {
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-radius: 20px;
}

.wild-life .swiper-slide img {
    display: block;
    width: auto;
    height: 100%;
}

.wild-life>.swiper-wrapper>.swiper-cube-shadow {
    background-color: var(--green);
    box-shadow: 0px 0px 500px var(--green);
    border-radius: 50px;
}


.wave {
    height: 100%;
    min-width: 500px;
    z-index: 0;
}

.caption {
    margin-top: 20px;
    z-index: 10;
    text-align: center;
    color: gradient;
    background: -webkit-linear-gradient(var(--green), var(--white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .portrait-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.portrait.swiper {
    width: 300px;
    height: 320px;
}

.portrait .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
} */

.portrait-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("../../assets/portraits/back.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
}

.portrait.swiper {
    width: 300px;
    height: 300px;
    margin-top: 100px;
    z-index: 2;
    flex-grow: 1;
}


.portrait .swiper-slide {
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-radius: 20px;
}

.portrait .swiper-slide img {
    display: block;
    width: auto;
    height: 100%;
}

.portrait>.swiper-wrapper>.swiper-cube-shadow {
    background-color: var(--aqua);
    box-shadow: 0px 0px 500px var(--aqua);
    border-radius: 50px;
}

.caption1 {
    margin-top: 20px;
    z-index: 10;
    text-align: center;
    color: gradient;
    background: -webkit-linear-gradient(var(--aqua), var(--white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}